In [2]:
import mysql.connector
import pandas as pd
import random

In [3]:
con = mysql.connector.connect(
    host = "giniewicz.it",
    user = "team07",
    password = "te@mlot",
    database = "team07"
)

if(con):
    print("Połączenie udane")
else:
    print("Połączenie nieudane")
# con.close()

Połączenie udane

In [23]:
import pandas as pd
import random

# Wczytanie danych z plików CSV
imiona_men_df = pd.read_csv('imiona_men.csv')
nazwiska_men_df = pd.read_csv('nazwiska_men.csv')
imiona_woman_df = pd.read_csv('imiona_woman.csv')
nazwiska_woman_df = pd.read_csv('nazwiska_woman.csv')

# Zamiana na listy imion/nazwisk
imiona_men = imiona_men_df['IMIĘ_PIERWSZE'].dropna().unique().tolist()
nazwiska_men = nazwiska_men_df['Nazwisko aktualne'].dropna().unique().tolist()
imiona_woman = imiona_woman_df['IMIĘ_PIERWSZE'].dropna().unique().tolist()
nazwiska_woman = nazwiska_woman_df['Nazwisko aktualne'].dropna().unique().tolist()

# Losowanie 500 par dla każdej płci
sampled_imiona_men = random.sample(imiona_men, 500)
sampled_nazwiska_men = random.sample(nazwiska_men, 500)
sampled_imiona_woman = random.sample(imiona_woman, 500)
sampled_nazwiska_woman = random.sample(nazwiska_woman, 500)

# Tworzenie listy krotek (first_name, last_name)
pary_men = list(zip(sampled_imiona_men, sampled_nazwiska_men))
pary_woman = list(zip(sampled_imiona_woman, sampled_nazwiska_woman))

# Połączenie obu płci
wszystkie_pary = pary_men + pary_woman
random.shuffle(wszystkie_pary)  # Losowa kolejność

In [25]:
import mysql.connector

con = mysql.connector.connect(
    host="giniewicz.it",
    user="team07",
    password="te@mlot",
    database="team07"
)

cursor = con.cursor()
cursor.execute("DELETE FROM Customers")
con.commit()
print("Wyczyszczono tabelę Customers.")
cursor.execute("ALTER TABLE Customers AUTO_INCREMENT = 1")
con.commit()

Wyczyszczono tabelę Customers.

In [26]:
sql = "INSERT INTO Customers (first_name, last_name) VALUES (%s, %s)"
cursor.executemany(sql, wszystkie_pary)
con.commit()
print("Wstawiono 1000 klientów.")

Wstawiono 1000 klientów.

In [ ]:
for i in range(1, 501):
    cursor.execute("INSERT INTO Customers (customer_id) VALUES (%s)", (i,))

con.commit()
cursor.close()
con.close()

In [10]:
import pandas as pd
import random
imiona_df = pd.read_csv("imiona_men.csv")  # lub imiona_woman.csv
nazwiska_df = pd.read_csv("nazwiska_men.csv")  # lub nazwiska_woman.csv

# Wybierz unikalne imiona i nazwiska
imiona = imiona_df['IMIĘ_PIERWSZE'].dropna().unique().tolist()
nazwiska = nazwiska_df['Nazwisko aktualne'].dropna().unique().tolist()

# Wylosuj 500 par
losowe_pary = list(zip(
    random.sample(imiona, 500),
    random.sample(nazwiska, 500)
))
print(losowe_pary)

[('EMANUEL', 'STUCZKO'), ('BARTEK', 'SZOSTEK'), ('SERGIUSZ', 'CHELIM'), ('FILIP', 'BANDER'), ('MARSEL', 'GRYNDYS'), ('MAGNUS', 'PYDYMOWSKI'), ('ITAN', 'LENIUCH'), ('DANYL', 'SZENFISZ'), ('NATHANIEL', 'WEREWKA'), ('NATANAEL', 'MEC'), ('TYMON', 'LEVESQUE'), ('DAWID', 'DARA'), ('AXEL', 'ZAGRODNICZEK'), ('ARTEMII', 'ZOREK'), ('KAI', 'MARKIECKI'), ('DAMIR', 'BIGAJŁO'), ('RAGNAR', 'OTCZAK'), ('ADRIAN', 'AST'), ('JOSEPH', 'KRZYCZMONIK'), ('BRIAN', 'PAŁCON'), ('EMILIO', 'BLANKIEWICZ'), ('ROSTYSLAV', 'STREJA'), ('HEKTOR', 'BENICH'), ('WINCENTY', 'RAPA'), ('JONATHAN', 'IRYTOWSKI'), ('NATHAN', 'KURZAŁ'), ('KILIAN', 'GRECZEL'), ('WALDEMAR', 'PIETRACZENKO'), ('ROBIN', 'CHRZAŚCIK'), ('VIKTOR', 'STAROŚCIAK'), ('MICHAŁ', 'GOWIK'), ('OLEK', 'PRZEGIENDA'), ('BRAJAN', 'GRZEBITA'), ('ARTEM', 'POWIERZA'), ('MARKIJAN', 'SILINGIEWICZ'), ('ANDRZEJ', 'MIHOK'), ('LEONARDO', 'PINGWARSKI'), ('JULIAN', 'RAMEL'), ('MILANO', 'BUTNY'), ('ERIK', 'KISIENIOWSKI'), ('KHALID', 'PYŚKO'), ('RADOMIR', 'MAKSALON'), ('YELYSEI', 'KIELISZ'), ('DMITRIJ', 'POPIELARCZYK'), ('MICHAL', 'SIOFER'), ('BRUNON', 'SOFIANOWICZ'), ('WIT', 'BRAŚ'), ('FRANEK', 'GABRIŠ'), ('ARSEN', 'KACZMARZYŃSKI'), ('MUAZ', 'DYNIA'), ('KASPIAN', 'ŚNIADECKI'), ('IGNACY', 'NIZAR'), ('VICTOR', 'JAKCIKOWSKI'), ('ADAM', 'GOZDYRA'), ('MATVII', 'NAJDZIŃSKI'), ('LOUIE', 'PARTYNIEWICZ'), ('KYRYLO', 'KOZIAŁKOWSKI'), ('KRYSPIN', 'WINTERSTEIN'), ('WITO', 'DOVHAN'), ('MATVEY', 'DURZALSKI'), ('ALEX', 'PÓŁAWSKI-BORKOWICZ'), ('ETHAN', 'CASIMIRO'), ('THEODOR', 'BINER'), ('LECH', 'KINCZEL'), ('LEON', 'HAŁASIK'), ('LEONARD', 'MOZA'), ('LEV', 'HYLLA'), ('CHRISTOPHER', 'DURAŃ'), ('TOBIAS', 'FLETA'), ('TIMOTHY', 'SKRZECZKO'), ('LIONEL', 'HEDRYCH'), ('ANDRII', 'MOSKALONEK'), ('DEMID', 'ROMBIEL'), ('NIKOLOZ', 'CHRISIDIS'), ('CHARLES', 'RATYMIRSKI'), ('HUBERT', 'CAP'), ('MATVIJ', 'CAGGIULA'), ('KIAN', 'WIERCHOW'), ('BRONISŁAW', 'HLUCHNIK'), ('LIWIUSZ', 'SZMARZ'), ('ILLIA', 'DRUCIS'), ('JAKOB', 'GUDKÓW'), ('RAYAN', 'WILT'), ('ALEXANDER', 'LALECKI'), ('ENEJ', 'BEZKOROVAINYI'), ('ALBERT', 'DOBRANZ'), ('MARTIN', 'GETMAN'), ('WILHELM', 'ŁACKO'), ('ELIASZ', 'SILSKI'), ('KUBA', 'MIELAN'), ('CZESŁAW', 'STAWIEREJ'), ('ZACHARIASZ', 'SIESZPUTOWSKI'), ('LUCJUSZ', 'URSEL'), ('ŚWIATOSŁAW', 'MORTOŃ'), ('LEONIDAS', 'MAJERANOWSKI'), ('MYKHAIL', 'KOCIENCKI'), ('OLIVIER', 'GREMPLICA'), ('JOHN', 'STRAZZULLA'), ('MARIAN', 'BARTMIŃSKI'), ('MARCEL', 'ZMAZA'), ('EGOR', 'SIERRA'), ('GERALD', 'CHRZEŚCIJAN'), ('JAMES', 'PLECHOWSKI'), ('DIEGO', 'KARPYSZ'), ('BOHDAN', 'WASJUTIN'), ('LIUBOMYR', 'KOSTIEROW'), ('BARTOSZ', 'KROHNE'), ('EDMUND', 'KRUKOWKA'), ('ASHER', 'BIMCAS'), ('DOBROMIR', 'ZIEBARTH'), ('MIRON', 'GUSTAWSKI'), ('YEHOR', 'BUĆ'), ('NAZARII', 'SOROTNIK'), ('DAVID', 'KONDERA'), ('MATVIY', 'MINURSKI'), ('IGO', 'GIURK'), ('IDRIS', 'BAREA'), ('LUKAS', 'MANOTA'), ('ZDZISŁAW', 'MICHNEJ'), ('ARIAN', 'ŚRUBA'), ('LOGAN', 'LUDOWICZ'), ('MIKHAIL', 'CETNER'), ('WACŁAW', 'BREWUS'), ('MIŁOSZ', 'WIĘSŁAW'), ('ALAN', 'KOLACHA'), ('MARCIN', 'CHOMEJ'), ('KAZIMIERZ', 'MERTINS'), ('RAFAEL', 'SULLA'), ('MYRON', 'UHLIG'), ('BAZYLI', 'SOMMERTAG'), ('RICHARD', 'TRAN BINH'), ('LAVRIN', 'POJENT'), ('SVIATOSLAV', 'CAMPAGNA'), ('DEVID', 'MORDYL'), ('SEM', 'CHREŚCIAK'), ('LEVAN', 'ARMATOWSKI'), ('ALEKSANDER', 'KNAPPE'), ('KRYSTIAN', 'PEŠKOVIČ'), ('TIMOFEI', 'ZOMBIERT'), ('OSCAR', 'TRINH HUY'), ('LUCAS', 'HOFRICHTER'), ('XAWERY', 'REKSA'), ('ERWIN', 'BOLIN'), ('JOSHUA', 'FREGIN'), ('WŁODZIMIERZ', 'MACECH'), ('ALEKS', 'SGODA'), ('DAMYR', 'SCHIEFELBAIN'), ('HECTOR', 'IDZIEK'), ('DARII', 'THEUER'), ('KONSTANTY', 'SZELWACHOWSKI'), ('VITO', 'KUPSZ'), ('ALEKSY', 'PANIUS'), ('ALI', 'POLISZEWSKI'), ('MIGUEL', 'LUBRAŃSKI'), ('EZRA', 'TUROWIEC'), ('LUKIAN', 'KAZA'), ('GLEB', 'SYMBER'), ('VITALII', 'BAKAL'), ('OLIWIER', 'EICKHOFF'), ('GIA KHANG', 'ROICKI'), ('JEREMIASZ', 'SZUCHIEWICZ'), ('ALOJZY', 'ZACHARIASIEWICZ'), ('TADEJ', 'CIUŁA'), ('KSAWIER', 'SMOLARKIEWICZ'), ('HUGO', 'KIERZAK'), ('HARRY', 'CIUHAK'), ('RYSZARD', 'DITTRICH-CHAMELA'), ('KORNELIUSZ', 'ROHOZIŃSKI'), ('HIERONIM', 'YASKOU'), ('ERNEST', 'JUZALSKI'), ('BRANDON', 'KURJAŃSKI'), ('SAMI', 'GLEGAŁA'), ('FRANCESCO', 'WIRCHAŁ'), ('DARIO', 'VOELKNER'), ('WINICJUSZ', 'URZĘDNICZOK'), ('MARCJAN', 'TRĄBKA'), ('KRZYSZTOF', 'MAUDUK'), ('FELICJAN', 'SHYRAYEU'), ('IWO', 'AVOYAN'), ('BENON', 'GIEŁCZYK'), ('JEREMI', 'PIECZAJKA'), ('ALLAN', 'BRUSANOWSKI'), ('YAREMA', 'PERCHINENNA'), ('JAROSLAW', 'KUPRYANIUK'), ('TYMOFIY', 'WUJECKI'), ('TYMOTEUSZ', 'DUSZYNSKI'), ('IZAAK', 'ZARZEMBŁOWSKI'), ('LUKASZ', 'NOWIKOWSKI'), ('KEVIN', 'MOTEWKA'), ('MYKHAILO', 'OCHLA'), ('NATAN', 'HAJDUKOWSKI'), ('SERHII', 'KLINGOFER'), ('BERNARD', 'MILITELLO'), ('ROBERT', 'SKORUT'), ('PAWEŁ', 'GOTÓWKA'), ('AIDEN', 'GRANCZEWSKI'), ('OKTAWIAN', 'SZPERLING'), ('MAKAR', 'TALERZOWSKI'), ('ZENON', 'WYDURSKI'), ('TEODOR', 'OREŁ'), ('KYRYL', 'ŻYCINIEC'), ('TYMUR', 'GERTER'), ('TEOFIL', 'HALCZUCH'), ('MYKOLA', 'BYCZENKO'), ('NICO', 'NARODZONEK'), ('DEMYAN', 'TAUSEWALD'), ('RYAN', 'GATZKI'), ('DENIS', 'RZESZCZAK'), ('ERIC', 'KOSZYCIARZ'), ('ANTEK', 'JAŃCZURA'), ('ANDREI', 'KONDYJOWSKI'), ('NICOLAS', 'GRYCHNIK'), ('NORBERT', 'STADNYK'), ('TEO', 'LUPCZYK'), ('IGOR', 'GROCHOCIŃSKI'), ('LUDWIK', 'SOWIŃSKI-MACKIEWICZ'), ('MUHAMMAD', 'FRELKE'), ('PEDRO', 'GOŚCINIAK'), ('OLIWER', 'GŁADCZAK'), ('DIONIZY', 'KARAMON'), ('RADOSŁAW', 'PEMPKOWIAK'), ('ZAKHAR', 'DJACZKIN'), ('CYPRIAN', 'CILWICKI'), ('OSKAR', 'GEWALD'), ('ANTON', 'BUNTO'), ('COLIN', 'DWUCET'), ('DANYLO', 'HALWANI'), ('WLADYSLAW', 'HARAJ'), ('GNIEWOMIR', 'BIEDZIUK'), ('BARTŁOMIEJ', 'JECHOWSKI'), ('AYAAN', 'KUĆMIERCZYK'), ('EDWIN', 'SZYMCZAK-GAŁKOWSKI'), ('SVYATOSLAV', 'RANCAN'), ('LUIS', 'NORRMANN'), ('MARIUSZ', 'GŁAZ'), ('ILLYA', 'FARYNOWICZ'), ('WALTER', 'BENAUER'), ('JAROSŁAW', 'TWORK'), ('ASLAN', 'GARBAR'), ('SANTIAGO', 'BOZANIAN'), ('VSEVOLOD', 'RODZYNKIEWICZ'), ('LIAM', 'FYDLAR'), ('JUAN', 'WYCHOCKI'), ('MARCELO', 'SĘKALA'), ('NIKOLAI', 'MOTERSKI'), ('SAMUEL', 'RUNIŃSKI'), ('LEVI', 'MARMAJEWSKI'), ('BALTAZAR', 'POLOSZYK'), ('OLEKSANDER', 'GRABOWSKI'), ('LUCA', 'FLOREK'), ('RAFAŁ', 'FOLLMANN'), ('GRZEGORZ', 'KARAKOSTAS'), ('IRENEUSZ', 'DAM'), ('ARIEL', 'PYCZEL'), ('HENRYK', 'LASSMANN'), ('HENRY', 'JASKULAK'), ('LUCJAN', 'MICHELKE'), ('JAIVIK', 'PAPAZYAN'), ('YEVHEN', 'HYŻNY'), ('MATWIJ', 'GRECA'), ('ROY', 'VYSHNIAKOV'), ('RUBEN', 'KARYMOW'), ('EDWARD', 'MANDALA'), ('KAJ', 'LIDNER'), ('MATTHEW', 'BINDAS'), ('TYMOFIJ', 'BERNY'), ('KASPER', 'ŚCIERSKI'), ('BOLKO', 'MURGOTT'), ('LUCIAN', 'ŻENCZAK'), ('HOÀNG BÁCH', 'JASIELSKI'), ('THEO', 'IŁĘDO'), ('KRISTIAN', 'NIEWIADOSKI'), ('CYRYL', 'SARNICKI'), ('GEORGE', 'SAMERLIK'), ('BENIAMIN', 'STECHLIK'), ('LESŁAW', 'KNEBLOCH'), ('HENRIK', 'CZIMECK'), ('JERZY', 'STOCHNIAŁEK'), ('IVAN', 'MULIĆ'), ('PAVLO', 'KERSBERGEN'), ('NIKITA', 'DECOBERT'), ('BRAYAN', 'JACOBS'), ('PAVEL', 'CYMANN'), ('MICHAEL', 'STYBUŁKOWSKI'), ('MOHAMED', 'FIGLAROWICZ'), ('DANIIL', 'KADŁUCKI'), ('YEVHENII', 'KISŁA'), ('ILIAN', 'KUPCEWICZ-SZWOCH'), ('ANTONI', 'WESENBERG'), ('ARAS', 'CHAŁADUS'), ('ROMAN', 'BORZYMOWICZ'), ('THÀNH ÐẠT', 'OKŁOT'), ('KORDIAN', 'KASPIROWICZ'), ('OLAF', 'SLATINA'), ('TIM', 'FRACH'), ('LARS', 'ZELMAŃSKI'), ('EDGAR', 'TRANDA'), ('ZIEMOWIT', 'ROZUMKIEWICZ'), ('AMBROŻY', 'SZCZEPŁEK'), ('BRAIAN', 'KLIMOROWSKI'), ('BOGUSŁAW', 'NAGRODKIEWICZ'), ('ARTUR', 'HILDEBRAND'), ('VLADISLAV', 'KAMA'), ('ANAS', 'JECHOWICZ'), ('TYTUS', 'CURZYTEK'), ('MARKIIAN', 'BREULICH'), ('MAKS', 'AMELJAŃCZYK'), ('GNIEWKO', 'LAUER'), ('YURII', 'SZESTAŁO'), ('NOE', 'MARYCKI'), ('NOLAN', 'TWORÓG'), ('BEN', 'BUŁANOW'), ('ARON', 'PRZYBYŚ'), ('ANASTAZY', 'KIERONIAK'), ('GRACJAN', 'MIKUŚKIEWICZ'), ('SIMON', 'KOPIENIOK'), ('NICHOLAS', 'NAWRACAJ'), ('SYRIUSZ', 'DRĄSZKOWSKI'), ('FABIAN', 'ALECHNOWICZ'), ('DANYIL', 'BONCAL'), ('ZAYN', 'SMYCZEK'), ('LUKA', 'GMUZDEK'), ('SEBASTIAN', 'KLIMCZYŃSKI'), ('STANISŁAW', 'CYPERSKI'), ('ANATOL', 'ŁATANYSZYN'), ('STEFAN', 'SZAMOW-BADOWSKI'), ('FRYDERYK', 'DOMACHOWSKI'), ('EMILIAN', 'ANDREASIK'), ('ZACHARY', 'RETWIŃSKI'), ('KRISHIV', 'KORCZYKOWSKI'), ('NIKOLAS', 'KACPRZAK VEL KACPROWICZ'), ('JĘDRZEJ', 'BERNATSKYI'), ('RAJMUND', 'SANDOK'), ('ZAHAR', 'LIMANÓWKA'), ('JEGOR', 'GOZDZIAK'), ('BOGUMIŁ', 'STOCKI'), ('OLEKSANDR', 'KUSAKA'), ('XAVIER', 'WARDZIAK-MĄKA'), ('MYROSLAV', 'IMANOW'), ('SZCZEPAN', 'WARS'), ('DMYTRO', 'CYGAŃSKI'), ('JAROSLAV', 'MARADZIEWSKI'), ('OSTAP', 'FAJFUR'), ('AMIL', 'ZACHARKIEWICZ'), ('SYLWESTER', 'ŁAWRYNIUK'), ('MAX', 'KORDZIŃSKI'), ('BENEDYKT', 'EREMBERG'), ('EMMANUEL', 'HAJDEN'), ('KARIM', 'REDMER'), ('DENIZ', 'KRZYCZMANIK'), ('VLADYSLAV', 'GORANCZEWSKI'), ('MAREK', 'SZAJBA'), ('MIHAIL', 'KRYPOWYCZ'), ('LÉON', 'KOSZUDA'), ('WŁADYSŁAW', 'MASHCHENKO'), ('AAYAN', 'PRZEMYŁSKI'), ('OMAR', 'PODMANICKI'), ('MIECZYSŁAW', 'LINART'), ('MARK', 'REDOSZ'), ('THIAGO', 'POLATEWICZ'), ('MAKSYM', 'GLICZA'), ('JACEK', 'PLISAK'), ('NIKODEM', 'ROGOŻNICKI'), ('USTYM', 'WEIR'), ('WOJTEK', 'OKPISZ'), ('MATEI', 'IVANOVSKI'), ('ROCH', 'AFFEK'), ('GIOVANNI', 'KUDRIA'), ('ORION', 'TURECZEK-ZAKRZEWSKI'), ('NIRVAIR', 'REZLER'), ('ALIAKSANDR', 'USIATYCKI'), ('MIROSŁAW', 'PAKIESER'), ('KAROL', 'DREWKO'), ('ZYGMUNT', 'HADUCH'), ('MIŁOSŁAW', 'SZĘFEL'), ('OTTO', 'MARZEION'), ('THEODORE', 'SWENDRACKI'), ('KLEMENS', 'KLEINEPAHLER'), ('MAKARY', 'KUPRIJANOWICZ'), ('KEWIN', 'SZYLDER'), ('WIKTOR', 'MACIJEWICZ'), ('ELDAR', 'ZIELONARSKI'), ('JONASZ', 'HELBRYCH'), ('GERARD', 'THURAND'), ('MARCO', 'TSARENKO'), ('DACHI', 'CHACHOŁ'), ('WOJCIECH', 'OMYLANOWSKI'), ('JAKUB', 'FAMUŁKA'), ('BOGDAN', 'ROŹNIATA'), ('DANIEL', 'GOLLNISCH'), ('FINN', 'WIERBOWSKI'), ('KAJETAN', 'MOMOTOWSKI'), ('MARKO', 'DUCHOWSKI'), ('RUPERT', 'RACHOWKA'), ('BENJAMIN', 'STUDNIORZ'), ('JAREMA', 'FORYTA'), ('BASTIAN', 'DYGOWSKI'), ('ARMAN', 'KOWALAK'), ('ALESSANDRO', 'DOBROMILSKI'), ('NATANIEL', 'TRZĄSKI'), ('IWAN', 'RAJZER'), ('ERYK', 'ZIĘTKO'), ('GAWEŁ', 'GUTOWICZ'), ('RAJAN', 'MACHEJ'), ('TADEI', 'ZDZIERELA'), ('TIMOFIY', 'ZONKO'), ('ROLAND', 'CHASZCZOWSKI'), ('GUSTAW', 'BRZOSZCZYK'), ('AURELIUSZ', 'MAKUTONOWICZ'), ('PAWEL', 'RÖHRICH'), ('STANISLAV', 'PASCH'), ('AARON', 'HARTER'), ('PATRYK', 'RIBSZLEGER'), ('ANDRIY', 'KENAWY'), ('MATEO', 'MAĆKOWICZ'), ('VOLODYMYR', 'GOMOLIŃSKI'), ('EVAN', 'LILLESTØL'), ('GUSTAV', 'BUYKO'), ('PLATON', 'LIPUS'), ('SZYMON', 'GERHARDS'), ('PRZEMYSŁAW', 'POPŁONYK'), ('GABRIEL', 'PRĘNDOTA'), ('SAMIR', 'OKSZA-GRABOWSKI'), ('SALOMON', 'WAŁĘCAK'), ('MYKYTA', 'POLEŚNY'), ('FRANK', 'WIECIERZYCKI'), ('MATWIEJ', 'PREDI'), ('MAKSIME', 'AFFES'), ('ZACHAR', 'GRELKA'), ('AYAN', 'LESHCHUK'), ('VINCENT', 'TUCZAPIEC'), ('JACOB', 'WIKTOR'), ('NICODEM', 'KALINICHENKO'), ('BRUNO', 'ZELL'), ('KIRIL', 'ARQUIER'), ('MAXIM', 'BURZYŃSKI'), ('YAROSLAV', 'RHINOW'), ('SEMIR', 'JORASZ-ŁAZIK'), ('ALEK', 'JÓRGA'), ('FREDERICK', 'SZYMCZUK-SZYMANIUK'), ('NOAH', 'MANOŚ'), ('ROMEO', 'STRYŃKOWSKI'), ('DENYS', 'ARMENIO'), ('MAURYCY', 'KULIKJAN'), ('MAXYMILIAN', 'POKOTOWSKI'), ('ARMIN', 'TESSIKOWSKI'), ('WITOLD', 'KURGUN'), ('KSAWERY', 'CZERNIGOWSKI'), ('MIKOLAJ', 'GRĄDCKI'), ('JAN', 'STROMKIE'), ('OLGIERD', 'SISULEWSKI'), ('MAKARII', 'BEREŚCIUK'), ('LEW', 'OWARZANY'), ('SŁAWOMIR', 'WILKOŁAK'), ('IVO', 'SIERSIECKI'), ('KAMIL', 'CHODACZNIK'), ('ABDULLAH', 'CZECHAK'), ('ŁUKASZ', 'DOSSMANN'), ('DYLAN', 'KRĘTOSZ'), ('FLORIAN', 'PIECZKIEWICZ'), ('ILAY', 'BENEGDA'), ('OLLIE', 'NOWACZUK'), ('MAXIMILIAN', 'GLINA'), ('THOMAS', 'ARYS'), ('IBRAHIM', 'KERKHOVEN'), ('JORDAN', 'KOPECZEK'), ('SAVELII', 'HŁADUNIUK'), ('KASJAN', 'TANDY'), ('MANUEL', 'IŻAKIEWICZ'), ('MATEUSZ', 'BELSKI'), ('LUKE', 'MAKSIMOWICZ'), ('GNIEWOSZ', 'ADOLPH'), ('ALEKSANDR', 'JAORNIK'), ('REMIGIUSZ', 'LUTEREK'), ('HENRI', 'PORĘBA-LENART'), ('KONRAD', 'EICHLER'), ('WILLIAM', 'JONCZYŃSKI'), ('TADEUSZ', 'LATSYK'), ('MIRAN', 'SILJAŃCZUK'), ('LOUIS', 'SCHÖNWALD'), ('MARKUS', 'KASZTELANIEC'), ('SAMBOR', 'DZIĘDZIELA'), ('JOEL', 'MICHAŁOWSKI-BRYŁA'), ('ARLO', 'GAJEWSKI-TUTTLE'), ('ILIA', 'DRAGUĆ'), ('LORENZO', 'RYMANOWICZ'), ('JOSEF', 'MIRING'), ('EMIR', 'KRYSTOSIAK'), ('MARCUS', 'PRUSZCZEŃSKI'), ('SAM', 'KUNIGIEL'), ('YAN', 'LEBUDA'), ('BOLESŁAW', 'BRZUZEK'), ('NOEL', 'GODZWAN'), ('GIORGI', 'WRZECIONKOWSKI'), ('DEMIAN', 'PERKOWSKI'), ('FIODOR', 'ANZLIK'), ('ILYA', 'DZIUBLAK'), ('JÓZEF', 'NAUJOKAJTYS'), ('NEHEMIASZ', 'JESZKO'), ('CEZARY', 'GONIAKOWSKI')]

In [28]:
import random
from datetime import datetime, timedelta

# Funkcja do generowania losowej daty między 1970 a 2010
def losowa_data_urodzenia():
    start = datetime(1970, 1, 1)
    end = datetime(2005, 12, 31)
    delta = end - start
    random_days = random.randint(0, delta.days)
    return (start + timedelta(days=random_days)).date()

con = mysql.connector.connect(
    host="giniewicz.it",
    user="team07",
    password="te@mlot",
    database="team07"
)

cursor = con.cursor()

# Pobierz wszystkie customer_id
cursor.execute("SELECT customer_id FROM Customers")
ids = cursor.fetchall()  # Zwraca listę krotek [(1,), (2,), ...]

# Przygotuj pary (data_urodzenia, customer_id)
dane = [(losowa_data_urodzenia(), id_[0]) for id_ in ids]

# Aktualizacja
sql = "UPDATE Customers SET date_of_birth = %s WHERE customer_id = %s"
cursor.executemany(sql, dane)

con.commit()
print("Uzupełniono daty urodzenia.")

cursor.close()
con.close()

Uzupełniono daty urodzenia.

In [29]:
con = mysql.connector.connect(
    host="giniewicz.it",
    user="team07",
    password="te@mlot",
    database="team07"
)

cursor = con.cursor()

# Pobieramy dane potrzebne do stworzenia e-maila
cursor.execute("SELECT customer_id, first_name, last_name FROM Customers")
klienci = cursor.fetchall()  # [(1, 'JAN', 'NOWAK'), (2, 'ANNA', 'KOWALSKA'), ...]

# Generujemy emaile
dane_do_emaila = []
for customer_id, first, last in klienci:
    email = f"{first.lower()}_{last.lower()}@email.com".replace(" ", "").replace("ł", "l").replace("ń", "n")
    dane_do_emaila.append((email, customer_id))
# Aktualizujemy kolumnę email
sql = "UPDATE Customers SET email = %s WHERE customer_id = %s"
cursor.executemany(sql, dane_do_emaila)

con.commit()
print("Zaktualizowano emaile.")

cursor.close()
con.close()

Zaktualizowano emaile.

In [30]:
con = mysql.connector.connect(
    host="giniewicz.it",
    user="team07",
    password="te@mlot",
    database="team07"
)

cursor = con.cursor()

def losowe_ubezpieczenie():
    return random.choices([True, False], weights=[95, 5], k=1)[0]
cursor.execute("SELECT customer_id FROM Customers")
ids = cursor.fetchall()

# Twórz pary (is_insured, customer_id)
dane_ubezpieczenia = [(losowe_ubezpieczenie(), id_[0]) for id_ in ids]
sql = "UPDATE Customers SET is_insured = %s WHERE customer_id = %s"
cursor.executemany(sql, dane_ubezpieczenia)

con.commit()
print("Zaktualizowano kolumnę is_insured.")

cursor.close()
con.close()

Zaktualizowano kolumnę is_insured.

In [ ]:

# Proste listy do generowania kontaktów
relations = ["mother", "father", "sister", "brother", "friend", "partner", "spouse", "aunt", "uncle"]
relation_weights = [20, 20, 10, 10, 25, 5, 5, 3, 2]  # razem 100

# Załaduj imiona i nazwiska (jeśli już masz je w listach)
female_names = imiona_woman_df['IMIĘ_PIERWSZE'].dropna().unique().tolist()

male_names = imiona_men_df['IMIĘ_PIERWSZE'].dropna().unique().tolist()

# Funkcja do losowania imienia i nazwiska
def losowy_kontakt():
    if random.random() < 0.5:
        imie = random.choice(female_names)
    else:
        imie = random.choice(male_names)
    nazwisko = random.choice(surnames)
    return f"{imie} {nazwisko}"

# Losowe 9-cyfrowe numery
def losowy_numer():
    return ''.join(str(random.randint(0, 9)) for _ in range(9))

con = mysql.connector.connect(
    host="giniewicz.it",
    user="team07",
    password="te@mlot",
    database="team07"
)

cursor = con.cursor()

cursor.execute("SELECT customer_id FROM Customers")
ids = cursor.fetchall()

dane_do_wstawienia = []
for (cid,) in ids:
    phone = losowy_numer()
    emergency_phone = losowy_numer()
    contact_name = losowy_kontakt()
    relation = random.choices(relations, weights=relation_weights, k=1)[0]
    dane_do_wstawienia.append((phone, contact_name, emergency_phone, relation, cid))

sql = """
    UPDATE Customers
    SET phone_number = %s,
        emergency_contact_name = %s,
        emergency_contact_phone = %s,
        emergency_contact_relation = %s
    WHERE customer_id = %s
"""

cursor.executemany(sql, dane_do_wstawienia)

con.commit()
print("Zaktualizowano dane kontaktowe.")

cursor.close()
con.close()

In [ ]:
# Załaduj imiona i nazwiska (jeśli już masz je w listach)
female_names = imiona_woman_df['IMIĘ_PIERWSZE'].dropna().unique().tolist()
male_names = imiona_men_df['IMIĘ_PIERWSZE'].dropna().unique().tolist()
surnames = nazwiska_df['NAZWISKO'].dropna().unique().tolist()

relations = ["mother", "father", "sister", "brother", "friend", "partner", "aunt", "uncle"]
relation_weights = [20, 20, 10, 10, 25, 5, 5, 5]  # razem 100

def losowy_numer():
    return ''.join(str(random.randint(0, 9)) for _ in range(9))

def losowe_imie(relacja):
    if relacja == "mother":
        return random.choice(female_names)
    elif relacja == "father":
        return random.choice(male_names)
    elif relacja == "sister":
        return random.choice(female_names)
    elif relacja == "brother":
        return random.choice(male_names)
    else:
        return random.choice(female_names + male_names)

def losowe_nazwisko(relacja, nazwisko_klienta):
    if relacja in ["mother", "father", "sister", "brother"]:
        return nazwisko_klienta
    else:
        return random.choice(surnames)

# Połączenie z bazą
con = mysql.connector.connect(
    host="giniewicz.it",
    user="team07",
    password="te@mlot",
    database="team07"
)
cursor = con.cursor()

cursor.execute("SELECT customer_id, last_name FROM Customers")
ids_lastnames = cursor.fetchall()

dane_do_wstawienia = []
for cid, nazwisko_klienta in ids_lastnames:
    phone = losowy_numer()
    emergency_phone = losowy_numer()
    relacja = random.choices(relations, weights=relation_weights, k=1)[0]

    imie = losowe_imie(relacja)
    nazwisko = losowe_nazwisko(relacja, nazwisko_klienta)
    kontakt = f"{imie} {nazwisko}"

    dane_do_wstawienia.append((phone, kontakt, emergency_phone, relacja, cid))

sql = """
    UPDATE Customers
    SET phone_number = %s,
        emergency_contact_name = %s,
        emergency_contact_phone = %s,
        emergency_contact_relation = %s
    WHERE customer_id = %s
"""

cursor.executemany(sql, dane_do_wstawienia)
con.commit()

print("Zaktualizowano dane kontaktowe.")

cursor.close()
con.close()

In [31]:
female_names = imiona_woman_df['IMIĘ_PIERWSZE'].dropna().unique().tolist()
male_names = imiona_men_df['IMIĘ_PIERWSZE'].dropna().unique().tolist()
female_surnames = nazwiska_woman_df['Nazwisko aktualne'].dropna().unique().tolist()
male_surnames = nazwiska_men_df['Nazwisko aktualne'].dropna().unique().tolist()
relations = ["mother", "father", "sister", "brother", "friend", "partner", "aunt", "uncle"]
relation_weights = [20, 20, 10, 10, 25, 5, 5, 5]

def losowy_numer():
    return ''.join(str(random.randint(0, 9)) for _ in range(9))

def generuj_kontakt(relacja, nazwisko_klienta):
    if relacja in ["mother", "sister", "aunt"]:
        imie = random.choice(female_names)
        nazwisko = nazwisko_klienta if relacja in ["mother", "sister"] else random.choice(female_surnames)
    elif relacja in ["father", "brother", "uncle"]:
        imie = random.choice(male_names)
        nazwisko = nazwisko_klienta if relacja in ["father", "brother"] else random.choice(male_surnames)
    else:  # friend, partner
        imie = random.choice(female_names + male_names)
        nazwisko = random.choice(female_surnames + male_surnames)
    
    return f"{imie} {nazwisko}"

In [32]:
con = mysql.connector.connect(
    host="giniewicz.it",
    user="team07",
    password="te@mlot",
    database="team07"
)

cursor = con.cursor()
cursor.execute("SELECT customer_id, last_name FROM Customers")
rows = cursor.fetchall()

dane_do_wstawienia = []
for customer_id, last_name in rows:
    phone = losowy_numer()
    emergency_phone = losowy_numer()
    relacja = random.choices(relations, weights=relation_weights, k=1)[0]
    kontakt = generuj_kontakt(relacja, last_name)
    dane_do_wstawienia.append((phone, kontakt, emergency_phone, relacja, customer_id))

In [33]:
sql = """
    UPDATE Customers
    SET phone_number = %s,
        emergency_contact_name = %s,
        emergency_contact_phone = %s,
        emergency_contact_relation = %s
    WHERE customer_id = %s
"""

cursor.executemany(sql, dane_do_wstawienia)
con.commit()

print("Zaktualizowano dane kontaktowe klientów.")
cursor.close()
con.close()

Zaktualizowano dane kontaktowe klientów.

## Spacecrafts

In [42]:
con = mysql.connector.connect(
    host="giniewicz.it",
    user="team07",
    password="te@mlot",
    database="team07"
)

cursor = con.cursor()
cursor.execute("DESCRIBE Spacecrafts")
# cursor.execute("SELECT * FROM Destinations")
for row in cursor.fetchall():
    print(row[0])  # Pierwszy element to nazwa kolumny
cursor.close()
con.close()

vehicle_id
name
type
capacity
manufacturing_date
status

In [44]:
spacecrafts = [
    ("Parker Solar Probe", "shuttle", 12, "2018-05-20", "active"),
    ("Helios I", "lander", 6, "2019-11-03", "active"),
    ("Helios II", "lander", 14, "2020-03-15", "maintenance"),
    ("Voyager 1", "cruise", 50, "2017-07-12", "retired"),
    ("Voyager 2", "cruise", 60, "2020-10-05", "active"),
    ("Titan Runner", "cruise", 100, "2021-01-30", "active"),
    ("Nova Clipper", "rocket", 8, "2023-04-18", "active"),
    ("Pioneer 10", "rocket", 10, "2015-06-09", "maintenance"),
    ("Pioneer 11", "rocket", 15, "2022-09-27", "active"),
    ("Jupiter Crown", "cruise", 80, "2024-02-01", "active")
]

con = mysql.connector.connect(
    host="giniewicz.it",
    user="team07",
    password="te@mlot",
    database="team07"
)

cursor = con.cursor()

sql = """
    INSERT INTO Spacecrafts
    (name, type, capacity, manufacturing_date, status)
    VALUES (%s, %s, %s, %s, %s)
"""

cursor.executemany(sql, spacecrafts)

con.commit()
print("Dodano 10 pojazdów kosmicznych.")

cursor.close()
con.close()

Dodano 10 pojazdów kosmicznych.

## Employees

In [51]:
con = mysql.connector.connect(
    host="giniewicz.it",
    user="team07",
    password="te@mlot",
    database="team07"
)

cursor = con.cursor()
cursor.execute("DESCRIBE Employees")
# cursor.execute("SELECT * FROM Destinations")
for row in cursor.fetchall():
    print(row[0])  # Pierwszy element to nazwa kolumny
cursor.close()
con.close()

employee_id
first_name
last_name
role
specialization
assigned_vehicle_id
salary

In [46]:
# Losuj 25 kobiet i 25 mężczyzn
female_first = random.sample(imiona_woman, 25)
female_last = random.sample(nazwiska_woman, 25)

male_first = random.sample(imiona_men, 25)
male_last = random.sample(nazwiska_men, 25)

# Role i specjalizacje
roles = ["pilot", "engineer", "medic", "technician", "commander"]
specializations = ["navigation", "propulsion", "life support", "AI systems", "research"]
con = mysql.connector.connect(
    host="giniewicz.it",
    user="team07",
    password="te@mlot",
    database="team07"
)
cursor = con.cursor()
cursor.execute("SELECT vehicle_id FROM Spacecrafts")
vehicle_ids = [row[0] for row in cursor.fetchall()]

In [48]:
employees = []

# Kobiety
for f, l in zip(female_first, female_last):
    employees.append((
        f,
        l,
        random.choice(roles),
        random.choice(specializations),
        random.choice(vehicle_ids)
    ))

# Mężczyźni
for f, l in zip(male_first, male_last):
    employees.append((
        f,
        l,
        random.choice(roles),
        random.choice(specializations),
        random.choice(vehicle_ids)
    ))
sql = """
    INSERT INTO Employees
    (first_name, last_name, role, specialization, assigned_vehicle_id)
    VALUES (%s, %s, %s, %s, %s)
"""
cursor.executemany(sql, employees)
con.commit()

print("Dodano 50 pracowników.")
cursor.close()
con.close()

Dodano 50 pracowników.

In [50]:
# Mapowanie ról na widełki
salary_ranges = {
    "pilot": (15000, 22000),
    "engineer": (12000, 18000),
    "medic": (10000, 16000),
    "technician": (8000, 13000),
    "commander": (20000, 30000),
}

# Połącz się z bazą
con = mysql.connector.connect(
    host="giniewicz.it",
    user="team07",
    password="te@mlot",
    database="team07"
)
cursor = con.cursor()

# Pobierz employee_id i role
cursor.execute("SELECT employee_id, role FROM Employees")
records = cursor.fetchall()

# Generuj zarobki
update_data = []
for emp_id, role in records:
    min_sal, max_sal = salary_ranges[role]
    salary = round(random.uniform(min_sal, max_sal), 2)
    update_data.append((salary, emp_id))

# Aktualizuj dane
sql = "UPDATE Employees SET salary = %s WHERE employee_id = %s"
cursor.executemany(sql, update_data)

con.commit()
print("Zaktualizowano pensje pracowników.")
cursor.close()
con.close()

Zaktualizowano pensje pracowników.

## Destinations

In [52]:
con = mysql.connector.connect(
    host="giniewicz.it",
    user="team07",
    password="te@mlot",
    database="team07"
)

cursor = con.cursor()
cursor.execute("DESCRIBE Destinations")
# cursor.execute("SELECT * FROM Destinations")
for row in cursor.fetchall():
    print(row[0])  # Pierwszy element to nazwa kolumny
cursor.close()
con.close()

destination_id
name
description
range
x_coordinate
y_coordinate
z_coordinate
gravity_level
radiation_risk_level
total_flight_cost

In [56]:
# Połączenie z bazą danych
con = mysql.connector.connect(
    host="giniewicz.it",
    user="team07",
    password="te@mlot",
    database="team07"
)
cursor = con.cursor()

# Lista 20 destynacji
destinations = [
    {
        "name": "Mercury", "description": "Closest planet to the Sun, scorching hot surface.",
        "range": 91.7, "gravity": 0.38, "radiation": 9, "cost": 1500000
    },
    {
        "name": "Venus", "description": "Toxic atmosphere and intense pressure.",
        "range": 41.4, "gravity": 0.9, "radiation": 8, "cost": 1200000
    },
    {
        "name": "Earth Orbit Station", "description": "Low-Earth orbit station for layovers.",
        "range": 0.4, "gravity": 0.0, "radiation": 3, "cost": 100000
    },
    {
        "name": "Moon Base Alpha", "description": "First permanent base on the Moon.",
        "range": 0.384, "gravity": 0.17, "radiation": 5, "cost": 500000
    },
    {
        "name": "Mars", "description": "Red Planet, destination for colonization.",
        "range": 78, "gravity": 0.38, "radiation": 6, "cost": 2000000
    },
    {
        "name": "Phobos Outpost", "description": "Scientific station on Mars' moon Phobos.",
        "range": 78.3, "gravity": 0.01, "radiation": 7, "cost": 800000
    },
    {
        "name": "Ganymede Research Hub", "description": "Frozen moon of Jupiter with subsurface ocean.",
        "range": 628.3, "gravity": 0.15, "radiation": 8, "cost": 3000000
    },
    {
        "name": "Jupiter", "description": "Gas giant - flyby only.",
        "range": 628.7, "gravity": 2.4, "radiation": 10, "cost": 2500000
    },
    {
        "name": "Europa Station", "description": "Landing site on icy moon with potential life.",
        "range": 628.5, "gravity": 0.13, "radiation": 9, "cost": 2800000 
    },
    {
        "name": "Ceres Mining Colony", "description": "Asteroid belt mining and refueling hub.",
        "range": 414, "gravity": 0.03, "radiation": 6, "cost": 1000000
    },
    {
        "name": "Saturn", "description": "Iconic ringed gas giant - orbit cruise only.",
        "range": 1200, "gravity": 1.06, "radiation": 7, "cost": 3500000
    },
    {
        "name": "Titan Base", "description": "Methane lakes and exotic atmosphere.",
        "range": 1220, "gravity": 0.14, "radiation": 6, "cost": 3200000
    },
    {
        "name": "Uranus", "description": "Tilted planet with blue atmosphere.",
        "range": 2600, "gravity": 0.89, "radiation": 6, "cost": 5000000
    },
    {
        "name": "Neptune", "description": "Most distant gas giant with intense storms.",
        "range": 4300, "gravity": 1.14, "radiation": 7, "cost": 6000000
    },
    {
        "name": "Proxima Centauri b Base", "description": "Closest exoplanet to Earth.",
        "range": 401000, "gravity": 1.1, "radiation": 5, "cost": 18000000 
    },
    {
        "name": "The Black Hole Edge Station", "description": "Extreme research post near black hole.",
        "range": 550000, "gravity": 9.8, "radiation": 10, "cost": 50000000
    },
    {
        "name": "Dark Matter Observation Platform", "description": "High-orbit facility for fundamental physics.",
        "range": 200, "gravity": 0.0, "radiation": 2, "cost": 3000000
    },
]

# Dodawanie współrzędnych
def random_coords():
    return round(random.uniform(-1000, 1000), 2)

# Przygotowanie danych do INSERT
destination_data = []
for dest in destinations:
    destination_data.append((
        dest["name"],
        dest["description"],
        dest["range"],
        random_coords(),
        random_coords(),
        random_coords(),
        dest["gravity"],
        dest["radiation"],
        dest["cost"]
    ))

# SQL INSERT
sql = """
INSERT INTO Destinations
(name, description, `range`, x_coordinate, y_coordinate, z_coordinate, gravity_level, radiation_risk_level, total_flight_cost)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

cursor.executemany(sql, destination_data)
con.commit()
print("Wstawiono 20 destynacji do tabeli Destinations.")

cursor.close()
con.close()

Wstawiono 20 destynacji do tabeli Destinations.


## TripTypes

In [58]:
con = mysql.connector.connect(
    host="giniewicz.it",
    user="team07",
    password="te@mlot",
    database="team07"
)

cursor = con.cursor()
cursor.execute("DESCRIBE TripTypes")
# cursor.execute("SELECT * FROM Destinations")
for row in cursor.fetchall():
    print(row[0])  # Pierwszy element to nazwa kolumny
cursor.close()
con.close()

trip_type_id
name
description
estimated_duration_days
is_one_way

In [79]:
con.close()